.index {
  width: 100%;
  height: 100%;
}

.about {
  width: 100%;
  // height: 100%;
}

.about_head {
  width: 100%;
  height: 750px;
  background-color: #ffff;
}

.about_head div:nth-of-type(1) {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.about_head div:nth-of-type(1) img {
  width: 800px;
  height: 500px;
}

.about_markdown {
  width: 800px;
  height: 200px;
  margin: 0 auto;
}

.about_markdown h2 {
  margin-top: 10px;
}

.about_markdown ul {
  margin-top: 20px;
  width: 800px;
  height: 80px;
}

.about_markdown ul li {
  padding-left: -10px;
}

.about_bottom {
  width: 100%;
  height: 1050px;
  padding-top: 20px;
}

.about_review {
  width: 800px;
  height: 1000px;
  background-color: rgb(243, 243, 243);
  margin: 0 auto;
}
.paging {
  width: 800px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}
.about_read {
  width: 800px;
  height: 1550px;
  margin: 20px auto;
  border-bottom: 2px solid #ccc;
  background-color: rgb(243, 243, 243);
}

.about_inspect {
  width: 800px;
  margin: 20px auto;
  height: 114px;
}

.about_inspect header {
  width: 760px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}

.about_inspect header span:nth-of-type(2) {
  margin-left: 10px;
}

.about_inspect header span:nth-of-type(3) {
  margin-left: 10px;
}

.about_inspect .recommend:hover header span:nth-of-type(1) b {
  color: red;
}

.about_inspect main {
  width: 720px;
  display: flex;
  height: calc(100% - 40px);
}

.about_left {
  width: 620px;
  height: 84px;
  background-color: rgb(243, 243, 243);
}

.about_left div:nth-of-type(1) {
  width: 620px;
  height: 50px;
}

.about_left div span:nth-of-type(2) {
  margin-left: 10px;
}

.about_left div span:nth-of-type(3) {
  margin-left: 10px;
}

.about_right {
  width: 140px;
  height: 100%;
  background-color: rgb(243, 243, 243);
}

.about_right img {
  width: 140px;
  height: 70px;
}

.suggested {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 50px;
}

.comment {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.comment_portrait {
  width: 100%;
  height: 120px;
}

.comment_tou {
  width: 760px;
  height: 120px;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.comment_portrait dl dt {
  width: 200px;
  height: 40px;
  display: flex;
}

.comment_portrait dl dt p {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #ccc;
}

.comment_portrait dl dt div {
  width: 100px;
  height: 40px;
  line-height: 28px;
  margin-left: 20px;
}

.comment_portrait dl dd p {
  margin: 5px 0;
}

.comment_portrait dl dd p span:nth-of-type(2) {
  margin-left: 10px;
}

.comment_portrait dl dd p span:nth-of-type(3) {
  margin-left: 10px;
  // color: red;
  cursor: pointer;
}

.recommend {
  width: 760px;
  height: 120px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.recommend header {
  line-height: 30px;
}

.comment_button {
  width: 100%;
  height: 150px;
  text-align: right;
}

.comment_textbox {
  height: 110px;
  width: 100%;
  display: flex;
}

.comment_textbox div {
  width: 80px;
  height: 94px;
  text-align: center;
}

.comment_textbox p {
  width: 700px;
  height: 100px;
}

.comment_issue {
  width: 100%;
  height: 40px;
}

.comment_issue div {
  width: 760px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.comment_issue p {
  margin-left: 40px;
}

.info {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.comment_issue button {
  width: 80px;
  height: 30px;
}

.comment_issue span {
  padding-left: 20px;
}

.expression:hover {
  color: red;
}

.modal {
  width: 350px;
  height: 150px;
}

.modal img {
  width: 350px;
  height: 150px;
}

.mode_code {
  width: 350px;
  height: 150px;
  display: flex;
  // background-color: red;
}

.mode_code p:nth-of-type(1) {
  width: 130px;
  height: 110px;
}

.qrcode div:nth-of-type(1) {
  width: 220px;
  height: 110px;
}

.qrcode div:nth-of-type(2) span {
  color: red;
}
