.article {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.homemain {
  width: 1140px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  margin-top: 200px;
  width: 20px;
}

.icon .WechatFilled {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1140px) {
  .homemain {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .homemain {
    width: 767px;
  }
}

@media screen and (max-width: 770px) {
  .homemain {
    width: 100%;
    height: 100%;
  }

  .homemain .right {
    display: none;
  }

  .homemain .left {
    width: 100%;
    height: auto;
  }
}

.homemain .left {
  width: 70%;
  // height: 1343px;
  // height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.homemain .right {
  flex: 1;
  height: 2000px;
  margin-top: 10px;
  // position: relative;
}
// .homemain .right .rightdiv {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }
.homemain .right .recommend {
  width: 287px;
  height: 271px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.homemain .right .stair {
  width: 287px;
  height: auto;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
  margin-top: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  // position: sticky;
  // top: 10px;
}
.homemain .right .label {
  width: 287px;
  height: 385px;
  margin-left: 30px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.recommend .recommendnav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.recommendnav h5 {
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  padding-left: 20px;
}

.labelnav h5 {
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  padding-left: 20px;
}

.label ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.label ul li span {
  display: flex;
  width: auto;
  border: 1px solid #ccc;
}

.labelnav {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.recommend .recommendmain {
  flex: 1;
}

.recommendmain ul {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}

.recommendmain ul li {
  margin-right: 10px;
}

.recommendmain ul li:nth-of-type(3) {
  color: rgb(134, 134, 134);
}

/* .homemain .right .provider{
    width: 288px;
    height: 79.5px;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
      flex-direction: column;
} */
.recommendmain ul:hover li {
  color: deeppink;
}

.articleimg {
  height: auto;
}

.articleimg img {
  width: 95%;
  height: 380px;
  margin-left: 2.5%;
  margin-top: 15px;
}

.articletit {
  width: 100%;
  height: 90px;
  text-align: center;
}

.articletit h3 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.homefooter {
  width: 765px;
  // position: absolute;
  // top: 1850px;
  // left: 35px;
  box-shadow: 0 0 10px #ccc;
}

.homefooter > p {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  background-color: #eee;
}

.homefootermain dl {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
  border-bottom: 1px solid #eee;
}

.homefootermain dl dt {
  background-color: aquamarine;
}

.homefootermain dl dt img {
  width: 200px;
}

.homefooter .pone {
  display: flex;
}

.homefooter .pone b:nth-of-type(2) {
  font-weight: normal;
  margin-left: 10px;
}

.homefooter .pone b:nth-of-type(3) {
  font-weight: normal;
  margin-left: 10px;
}

.homefootermain .ptwo {
  margin-top: 15px;
}

.homefootermain .pthree {
  margin-top: 20px;
}

.homefootermain .pthree b {
  margin-left: 5px;
  font-weight: normal;
}

.homefootermain dl .pone:hover {
  color: rgb(253, 35, 93);
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

// .providerFooter {
//   width: 100%;
//   height: 120px;
//   background-color: rgb(75, 74, 74);
//   position: absolute;
//   bottom: -2143px;
// }

// .provider {
//   background-color: none;
// }

// @keyframes homefooter {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateX(-100px)
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//   }
// }

// .homefooter {
//   animation: homefooter 2s forwards;
// }

// .homefooter dl dd {
//   animation: homefooter 2s forwards;
// }
