.category {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.category .homemain {
  width: 1140px;
  height: 100%;
  display: flex;
  // position: absolute;
  margin-top: 20px;
  // transform: translate(-50%,-50%);
}

.category .homemain .left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.category .homemain .right {
  flex: 1;
}
.categoryclass {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}
.categoryclass p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 27px;
  color: deeppink;
}
.categoryclass p:nth-of-type(2) {
  margin-top: 8px;
  margin-bottom: 20px;
}
.categoryclass p:nth-of-type(2) span {
  color: deeppink;
}
.category .lefttxt {
  margin-top: 20px;
  // width: 100%;
  flex: 1;
  box-shadow: -5px 0 5px #ccc;
  border-right: 1px solid rgb(240, 240, 240);
  // box-shadow:10px 0 5px rgb(92, 92, 92),
}

.homemain .right .recommend {
  width: 287px;
  height: 271px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.homemain .right .label {
  width: 287px;
  height: 185px;
  margin-left: 30px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
// .homemain .right .provider{
//   width: 288px;
//   height: 79.5px;
//   margin-left: 30px;
//   margin-top: 20px;
//   box-shadow: 0 0 10px #ccc;
//   display: flex;
//     flex-direction: column;
// }
.recommend .recommendnav {
  width: 100%;
  height: 50px;
  // border-bottom: 1px solid rgb(214, 214, 214);
}
.recommendnav h5 {
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
  padding-left: 20px;
}
.recommend .recommendmain {
  flex: 1;
}
.recommendmain ul {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}
.recommendmain ul li {
  margin-right: 10px;
}
.recommendmain ul li:nth-of-type(3) {
  color: rgb(134, 134, 134);
}
.recommendmain ul:hover li {
  color: deeppink;
}
.leftdown header {
  width: 100%;
  height: 65px;
  box-shadow: 0 0 10px #ccc;
}
.leftdown header a {
  display: inline-block;
  width: 70px;
  height: 100%;
  margin-left: 1px;
  line-height: 65px;
  text-align: center;
  font-size: 16px;
}
.leftdown header a:hover {
  color: deeppink;
}

.category .homemain {
  width: 1140px;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1140px) {
  .category .homemain {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .category .homemain {
    width: 767px;
  }
}
@media screen and (max-width: 770px) {
  .category .homemain {
    width: 100%;
    height: 100%;
  }
  .category .homemain .right {
    display: none;
  }
  .category .homemain .left {
    width: 100%;
    height: 100%;
  }
}
.leftdown main {
  margin-top: 10px;
  height: auto;
  text-align: left;
  box-shadow: 0 0 10px #ccc;
}
.leftdown main dl {
  width: 100%;
  height: 150px;
  display: flex;
  padding: 0 10px;
  // border-bottom: 1px solid #ccc;
}
.leftdown main dl dd {
  width: 75%;
  height: 100%;
  // padding-left: 20px;
  padding-top: 15px;
}
.pone span:nth-of-type(1) {
  font-weight: bold;
  font-size: 18px;
}
.leftdown main dl:hover .pone span:nth-of-type(1) {
  color: deeppink;
}
.pone span:nth-of-type(2) {
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 15px;
}
.pone span:nth-of-type(3) {
  color: rgb(119, 119, 119);
}
.ptwo {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.pthree b {
  margin-right: 10px;
  margin-left: 10px;
}
.pthree span {
  margin-right: 5px;
}
.anticon {
  font-size: 18px;
  color: rgb(114, 114, 114);
}
.leftdown main dl dt {
  flex: 1;
  height: 100%;
}
.leftdown main dl dt img {
  width: 125px;
  height: 80px;
  margin-left: 20px;
  margin-top: 30px;
}
