.containerFile {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}

.leftFile {
  width: 700px;
  height: 900px;
  float: left;
  margin-top: 20px;
  margin-left: 130px;
  line-height: 40px;
  box-shadow: 0 0 10px #ccc;
}

.xx ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.topleftFile {
  width: 100%;
  height: 70px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.topleftFile span {
  text-align: center;
  font-size: 20px;
  color: rgb(253, 35, 93);
}

.topleftFile p {
  margin-top: -10px;
}

.topleftFile p b {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(253, 35, 93);
}

.buttonleftFile {
  width: 100%;
  height: auto;
}

.buttonleftFile ul {
  text-align: left;
  margin-left: 20px;
  line-height: 50px;
}

.refresh {
  overflow: hidden;
  box-shadow: 0 0 5px #eee;
}

.refresh span {
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}

.refresh p {
  margin-left: 30px;
}

.refresh ul li {
  list-style-type: disc;
  margin-left: 40px;
  line-height: 60px;
}

.refresh ul li div:hover {
  color: rgb(253, 35, 93);
  font-weight: bold;
}

.rightFile {
  width: 288px;
  height: 100%;
  margin-left: 50px;
  margin-top: 20px;
  float: right;
}

.toprightFile {
  width: 287px;
  height: 271px;
  line-height: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
}

.toprightFile ul li {
  margin-left: 15px;
}

.buttomrightFile {
  width: 100%;
  height: 250px;
  margin-top: 30px;
  box-shadow: 0 0 10px #ccc;
}

.stop,
.xbuttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.stop {
  border-bottom: 1px solid #ccc;
}

.stop span {
  font-weight: 700;
}

.xbuttom {
  border-bottom: 1px solid #ccc;
}

.xbuttom span {
  font-weight: 700;
}

.active:hover {
  color: rgb(253, 35, 93);
}

.activemain:hover {
  color: rgb(253, 35, 93);
}

.xx {
  width: 100%;
  height: 350px;
}

.xx ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.xx ul li:hover {
  color: rgb(253, 35, 93);
  font-weight: bold;
}

.buttonleftFile {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.refresh {
  overflow: hidden;
}

.refresh span {
  margin-left: 20px;
  font-weight: 700;
  font-size: 16px;
}

.refresh p {
  margin-left: 30px;
}

.refresh ul li {
  list-style-type: disc;
  margin-left: 40px;
}

.refresh ul li div {
  margin-left: 20px;
}

.refresh ul li div:hover {
  color: rgb(253, 35, 93);
  font-weight: bold;
}

.rightFile {
  width: 288px;
  height: 100%;
  margin-left: 37px;
  margin-right: 30px;
  margin-top: 20px;
  float: right;
}

.ceiling {
  position: sticky;
  top: 10px;
}

.buttomrightFile {
  width: 100%;
  height: 305.5px;
  box-shadow: 0 0 10px #ccc;
}

.stop,
.xbuttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.stop span {
  font-weight: 700;
}

.xbuttom span {
  font-weight: 700;
}

.active:hover {
  color: rgb(253, 35, 93);
}

.activemain:hover {
  color: rgb(253, 35, 93);
}

.sx {
  width: 100%;
  height: 100%;
  flex: 1;
  line-height: 45px;
}

.sx ul li {
  font-size: 14px;
}

.sx ul li div:hover {
  color: rgb(253, 35, 93);
  font-weight: bold;
}

.xx {
  width: 100%;
  height: 350px;
}

.xx a {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xx ul li a:hover {
  color: rgb(253, 35, 93);
  font-weight: bold;
}

.xx ul {
  width: 100%;
  height: 205px;
}

.xx ul li a span {
  width: 100%;
  margin-left: 10px;
  line-height: 30px;
}

@keyframes refresh {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.refresh {
  animation: refresh 2s forwards;
}

.refresh ul li {
  animation: refresh 2s forwards;
}

.site-back-top-basic {
  z-index: 9999;
  color: rgba(64, 64, 64, 0.6);
}

.provider {
  width: 288px;
  height: 115px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.provider p a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.provider p:nth-of-type(2),
p:nth-of-type(3) {
  font-size: 14px;
}

.provider p a .anticon-wifi {
  font-size: 25px;
}

.provider p a .anticon-wifi:hover {
  color: deeppink;
}

.provider p a .anticon-github {
  font-size: 25px;
}

.provider p a .anticon-github:hover {
  color: deeppink;
}

.recommend .recommendmain {
  flex: 1;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

.toprightFile ul {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.toprightFile ul li:hover {
  color: deeppink;
}

.toprightFile ul li:nth-of-type(3) {
  color: rgb(134, 134, 134);
}
