html,
body,
#root {
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.homemain {
  width: 1140px;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1140px) {
  .homemain {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .homemain {
    width: 767px;
  }
}
@media screen and (max-width: 770px) {
  .homemain {
    width: 100%;
    height: 100%;
  }
  .homemain .right {
    display: none;
  }
  .homemain .left {
    width: 100%;
    height: 100%;
  }
}
.homemain .left {
  width: 70%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
}
.home .homemain .left .topimg {
  width: 95%;
  height: 332px;
  margin-left: 20px;
  margin-top: 15px;
  padding: 10px 10px;
  box-shadow: 0 0 5px #ccc;
}
.home .homemain .left .topimg .banner {
  width: 100%;
  height: 310px;
  // margin-top: 10px;
  position: relative;
}
.homemain.right {
  flex: 1;
  height: 100%;
}
.homemain .rightdiv {
  //  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.homemain .right .recommend {
  width: 287px;
  height: 271px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.home .homemain .right .label {
  width: 287px;
  height: 160px;
  margin-left: 30px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.homemain .right .provider {
  width: 288px;
  height: 115px;
  margin-left: 30px;
  margin-top: 20px;
  // box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.homemain .right .provider p a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.homemain .right .provider p:nth-of-type(2),
p:nth-of-type(3) {
  font-size: 14px;
}
.homemain .right .provider p a .anticon-wifi {
  font-size: 25px;
}
.homemain .right .provider p a .anticon-wifi:hover {
  color: deeppink;
}
.homemain .right .provider p a .anticon-github {
  font-size: 25px;
}
.homemain .right .provider p a .anticon-github:hover {
  color: deeppink;
}
.homemain .right .provider p {
  margin-top: 5px;
}

.ant-carousel {
  width: 100%;
  height: 100%;
}
.topimg .banner img {
  width: 100%;
  height: 310px;
  // margin-left: 12px;
  // z-index: 9999;
}
.home .homemain .left .topimg .banner .topzzc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.topzzc a {
  display: block;
  width: 100%;
  height: 90%;
  text-align: center;
}
.topzzc a h2 {
  padding-top: 100px;
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}
.topzzc a p {
  font-size: 18px;
  color: #fff;
}
.home .homemain .left .lefttxt {
  width: 95%;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
}
.homemain .left .lefttxt .leftdown {
  width: 100%;
  height: 100%;
}
.leftdown header {
  width: 100%;
  height: 65px;
  box-shadow: 0 0 10px #ccc;
}
.leftdown header a {
  display: inline-block;
  width: 70px;
  height: 100%;
  margin-left: 1px;
  line-height: 65px;
  text-align: center;
  font-size: 16px;
}
.leftdown header a:hover {
  color: deeppink;
}
.leftdown main {
  margin-top: 10px;
  height: auto;
  text-align: left;
  box-shadow: 0 0 10px #ccc;
}
.home .homemain .left .lefttxt .leftdown main dl {
  width: 95%;
  height: 150px;
  display: flex;
  margin-left: 15px;
  border-bottom: 1px solid #ccc;
}
.leftdown main dl dd {
  width: 75%;
  height: 100%;
  padding-left: 5px;
  padding-top: 15px;
}
.pone span:nth-of-type(1) {
  font-weight: bold;
  font-size: 18px;
}
.leftdown main dl:hover .pone span:nth-of-type(1) {
  color: deeppink;
}
.pone span:nth-of-type(2) {
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 15px;
}
.pone span:nth-of-type(3) {
  color: rgb(119, 119, 119);
}
.leftdown main dl dd .ptwo {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.pthree b {
  margin-right: 10px;
  margin-left: 10px;
}
.pthree span {
  margin-right: 5px;
}
.anticon {
  font-size: 18px;
  color: rgb(114, 114, 114);
}
.leftdown main dl dt {
  flex: 1;
  height: 100%;
}
.leftdown main dl dt img {
  width: 125px;
  height: 80px;
  margin-left: 60px;
  margin-top: 30px;
}
.recommend .recommendnav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.home .homemain .right .recommendnav h5 {
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
  padding-left: 20px;
}
.home .homemain .right .labelnav h5 {
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
  padding-left: 20px;
}
.label ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.label ul li span {
  display: flex;
  width: auto;
  border: 1px solid #ccc;
}
.labelnav {
  border-bottom: 1px solid rgb(214, 214, 214);
}
.labelmain {
  padding-left: 15px;
}
.labelmain a {
  display: inline-block;
  width: auto;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-right: 10px;
}
.labelmain a:hover {
  color: deeppink;
  border: 1px solid deeppink;
}
.recommend .recommendmain {
  flex: 1;
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
.recommendmain ul {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}
.recommendmain ul li {
  margin-right: 10px;
}
.recommendmain ul li:nth-of-type(3) {
  color: rgb(134, 134, 134);
}
