.Detail {
  width: 100%;
  height: 742.5px;
  display: flex;
  position: relative;
  text-align: left;
  overflow: hidden;
  background-color: #eee;
}
.Detailmain {
  width: 1140px;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1140px) {
  .Detailmain {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .Detailmain {
    width: 767px;
  }
}
@media screen and (max-width: 770px) {
  .Detailmain {
    width: 100%;
    height: 100%;
  }
  .Detailmain .rightbox {
    display: none;
  }
  .Detailmain .leftbox {
    width: 100%;
    height: 100%;
  }
}
.Detailmain .leftbox {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}
.leftbox .webbox {
  width: 90%;
  height: 80px;
  margin-left: 5%;
  margin-top: 40px;
  /* background-color: aquamarine; */
}
.leftbox2 {
  width: 96%;
  height: 100%;
  margin-left: 5%;
  background-color: white;
}
.imgs {
  width: 90%;
  height: 35%;
  margin-left: 5%;
  margin-top: 20px;
}
.imgs img {
  width: 100%;
  height: 100%;
}
.header {
  margin-top: 5%;
  text-align: center;
}
.header .reade {
  color: #4299e1;
}
.header .begin {
  width: 88px;
  height: 32px;
  border: none;
  color: white;
  background-color: #f40a12;
}

.Detailmain .rightbox {
  width: 288px;
  height: 90%;
}
.Detailmain .rightbox1 {
  width: 288px;
  height: 90%;
}
.rightbox1 .rest1 {
  width: 100%;
  height: 651px;
  overflow: hidden;
  background-color: white;
}
.rest1 .item1 {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eee;
}
.item1:hover .titles1 span:nth-of-type(1) {
  color: deeppink;
}
.item1 .titles1 {
  height: 26px;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0 0 15px;
}
.item1 .title1 {
  width: 150px;
  height: 80px;
}
.item1 .box1 {
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: space-around;
}
.righttopbox1 {
  width: 100%;
  height: 108px;
}
.righttopbox1 h3 {
  padding-top: 65px;
}
.box1 .titles1 {
  width: 100%;
}
.titles1 .month1 {
  font-weight: normal;
  font-size: 14px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.35);
}
.title1 .summary1 {
  width: 150px;
  height: 40px;
  font-size: 13px;
}
.title1 .content1 {
  width: 150px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}
.content1 span {
  display: inline-block;
  margin: 10px 5px;
}
.item1 .img1 {
  width: 80px;
  height: 80px;
}
.img1 img {
  width: 80px;
  height: 60px;
}
