.header {
  background-color: white;
  p {
    text-align: center;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }
  h4 {
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }
}

.MessagePrincipal {
  width: 100vw;
  display: flex;
  justify-content: center;
  main {
    width: 800px;
    div > p {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
    }
  }
  footer {
    width: 800px;
    div > p {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
    }
  }
}

.messagereading {
  text-align: initial;
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  dd {
    width: 70%;
    height: 139px;
    .dddiv1 {
      height: 100px;

      h3 {
        height: 40px;
        line-height: 50px;
        font-size: 19px;
      }
      h3:hover {
        color: orangered;
        cursor: pointer;
      }
      p {
        all: initial;
      }
    }
    .dddiv2 {
      width: 40%;
      height: 39px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  dt {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 120px;
      height: 80px;
    }
  }
}
.messagejuzhong {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  > div {
    text-align: initial;
    width: 95%;
  }
}
.a {
  text-decoration: none;
}

.messageinput {
  margin-top: 15px;
  text-align: initial;
  display: flex;
  width: 100%;
  height: 170px;
  border-bottom: 1px solid #d9d9d9;
  .divtou {
    width: 5%;
    height: 100%;
  }
  .divshu {
    width: 95%;
    height: 100%;
    div {
      display: flex;
      justify-content: center;
      input {
        border: 1px solid #d9d9d9;
        height: 100px;
        width: 96%;
      }
    }
    .divfabu {
      width: 96%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .pfabu {
        float: right;
        font-size: 15px;
      }
    }
  }
}

.biaoqing {
  all: initial;
  cursor: pointer;
}
.headermainfooter {
  border-bottom: 1px solid #d9d9d9;
}
.headers {
  display: flex;
  padding-top: 5px;
  .touxiang1 {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    background-color: rgb(82, 196, 26);
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }
  .touxiang2 {
    line-height: 32px;
    transform: scale(1) translateX(-50%);
    position: absolute;
    left: 50%;
    transform-origin: 0 center;
  }
  .plname {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}
.plmain {
  padding: 12px 0px 12px 40px;
  > div {
    > p {
      font-size: 14px;
    }
  }
}
.plfoot {
  padding-bottom: 10px;
  span {
    color: #ccc;
    padding-left: 20px;
  }
  .huifuspan {
    cursor: pointer;
  }
}
.biaotidivdis {
  display: flex;
  align-items: center;
  span {
    padding-left: 20px;
    color: #ccc;
  }
}
.headermainfooter1 {
  padding-left: 20px;
}
.headers1 {
  display: flex;
  padding-top: 5px;
  .touxiang11 {
    all: initial;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    background-color: rgb(82, 196, 26);
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
  }
  .touxiang21 {
    all: initial;
    line-height: 24px;
    font-size: 14px;
    transform: scale(1) translateX(-50%);
    position: absolute;
    left: 50%;
    transform-origin: 0 center;
  }
  .plname1 {
    color: initial;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}
.plmain1 {
  padding: 12px 0px 12px 40px;
  > div {
    > p {
      font-size: 14px;
    }
  }
}
.plfoot1 {
  padding-bottom: 10px;
  span {
    color: #ccc;
    padding-left: 10px;
  }
  .huifuspan1 {
    cursor: pointer;
  }
}

.huifuhuifu {
  padding-right: 10px;
}

//以下是详情页
.detail {
  text-align: initial;
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
  }
  blockquote {
    padding: 1px 23px;
    border: 1px solid #d9d9d9;
    border-left: 4px solid #ccc;
    margin: 22px 0;
    color: #666;
  }
  h2 {
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 50px;
    color: inherit;
    margin-top: 35px;
  }
  p {
    line-height: inherit;
    margin-top: 22px;
    margin-bottom: 22px;
    list-style: none;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: inherit;
  }
  ul {
    padding-left: 28px;
    list-style-type: disc;
    list-style: none;
  }
  pre {
    position: relative;
    max-height: 400px;
    padding-top: 30px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #d9d9d9;
    font-size: 16px;
    overflow: hidden;
    span {
      position: absolute;
      top: 8px;
      right: 5px;
      font-size: 12px;
      line-height: 1;
      cursor: pointer;
      color: #ccc;
      transition: color 0.1s;
    }
    code {
      max-height: 370px;
      padding: 9px 10px 12px;
      border-radius: 0;
      color: royalblue;
      overflow: auto;
      overscroll-behavior: contain;
      font-size: 12px;
      margin: 0;
      white-space: pre-wrap;
      display: block;
    }
  }
  table {
    display: inline-block;
    font-size: 13px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    thead {
      background-color: #ccc;
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        th {
          padding: 4px 8px;
          line-height: 24px;
        }
      }
    }
    tbody {
      background-color: #d9d9d9;
      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        td {
          padding: 4px 8px;
          line-height: 24px;
        }
      }
    }
  }
}
.kuaijuzhong {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  .kuaijuzi {
    width: 65%;
    padding-top: 20px;
    background-color: white;
    .kuaijuzitu {
      display: flex;
      justify-content: center;
      width: 100%;
      .kuaijuzitutu {
        width: 95%;
        height: 400px;
        overflow: hidden;
        img {
          width: 100%;
          height: 400px;
        }
      }
    }
  }
  .xuanrank {
    display: flex;
    justify-content: center;
    width: 100%;
    .xuanrankuai {
      width: 95%;
      overflow: hidden;
    }
  }
}

.detaillike {
  position: fixed;
  top: 50vh;
  left: 10vw;
}

.ppingheng {
  display: flex;
  justify-content: center;
  align-items: center;
}
