.likesdiv {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.likesbody {
  position: relative;
}
.likescunt {
  position: absolute;
  right: 0;
  top: -10px;
  color: red;
  font-weight: 700;
}
