.property {
  width: 100%;
  height: 742.5px;
  display: flex;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.propertymain {
  width: 1140px;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1140px) {
  .propertymain {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .propertymain {
    width: 767px;
  }
}
@media screen and (max-width: 770px) {
  .propertymain {
    width: 100%;
    height: 100%;
  }
  .propertymain .rightbox {
    display: none;
  }
  .propertymain .leftbox {
    width: 100%;
    height: 100%;
  }
}
.propertymain .leftbox {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  border: 1px solid #eee;
}
.leftbox .item {
  width: 90%;
  height: 150px;
  margin-left: 5%;
  padding-bottom: 8%;
  color: #000;
  border-bottom: 1px solid #e7eaee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.leftbox .item .title {
  width: 288px;
  height: 80px;
}
.title .titles {
  height: 26px;
  font-weight: 500;
  font-size: 16px;
}

.item:hover .title .titles span:nth-of-type(1) {
  color: deeppink;
}

.item:hover .title p {
  font-weight: 500;
}
.titles .month {
  font-weight: normal;
  font-size: 14px;
  padding-left: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.35);
}
.title .summary {
  height: 58px;
  font-size: 14px;
}
.title .content {
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
}
.content span {
  display: inline-block;
  margin: 10px 5px;
}
.content .share {
  width: 30px;
  border: none;
}
.leftbox .item img {
  flex: 1;
  width: 120px;
  height: 80px;
  margin: 60px 0 0 0;
}
@media screen and (max-height: 80px) {
  img {
    height: 100px;
  }
}
.propertymain .rightbox {
  width: 288px;
  height: 90%;
}
.rightbox > .topbox {
  width: 287px;
  height: 271px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.topbox .toptitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;
}
.toptitle span {
  margin-left: 15px;
}
.read {
  margin-top: 15px;
}
.read ul {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  padding-left: 20px;
  font-size: 14px;
}
.read ul li {
  margin-right: 10px;
}
.read ul li:nth-of-type(3) {
  color: rgb(134, 134, 134);
}
.read p {
  height: 35px;
  font-size: 14px;
  margin-left: 15px;
  line-height: 20px;
}
.buttomrightFile {
  width: 100%;
  height: 305.5px;
  box-shadow: 0 0 10px #ccc;
  margin-left: 30px;
}
.rightbox > .bottombox {
  width: 287px;
  height: 45%;
  margin-left: 30px;
  box-shadow: 0 0 10px #ccc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.bottombox .bottomtitle {
  width: 100%;
  height: 50px;
  display: inline-block;
  font-weight: bolder;
  line-height: 45px;
  border-bottom: 1px solid #e7eaee;
}
.bottomtitle span {
  margin-left: 15px;
}
.bottombox .article {
  width: 100%;
  margin-top: 15px;
}
.article a {
  display: inline-block;
  width: 90%;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 15px;
}

.article a:hover {
  color: deeppink;
}

.article p span {
  color: rgba(0, 0, 0, 0.45);
}
