// .provider {
//     width: 288px;
//     height: 115px;
//     margin-left: 30px;
//     margin-top: 20px;
//     display: flex;
//     flex-direction: column;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-top: 10px;
//   }
//  .provider p a {
//     display: inline-block;
//     margin-left: 10px;
//     margin-right: 10px;
//   }
//    .provider p:nth-of-type(2),
//   p:nth-of-type(3) {
//     font-size: 14px;
//   }
//    .provider p a .anticon-wifi {
//     font-size: 25px;
//   }
//    .provider p a .anticon-wifi:hover {
//     color: deeppink;
//   }
//    .provider p a .anticon-github {
//     font-size: 25px;
//   }
//    .provider p a .anticon-github:hover {
//     color: deeppink;
//   }
//    .provider p {
//     margin-top: 5px;
//   }
