.container {
  background: @bg-color;
  color: @link-color;
}

html,
body,
#root {
  background-color: @bg-color;
}

.homemain .right .recommend,
.label,
.provider {
  background-color: @bg-color;
}

.leftdown header,
main {
  background-color: @bg-color;
}

.recommendnav h5,
.labelnav h5 {
  color: @link-color;
}

.articletit h3,
i {
  color: @link-color;
}

.articlemain h1,
h3 {
  color: @link-color;
}

.articlemain table tr,
th,
tr td {
  border: 1px solid @link-color;
}

.lefttxt .leftdown header a {
  color: @link-color;
}

.categoryclass {
  background-color: @bg-color;
}

.labelmain a {
  color: @link-color;
}

.home .homemain .left .topimg {
  background-color: @bg-color;
}

.style .sreach,
.tologin {
  color: @link-color;
}

.style .sreach,
.tologin {
  color: @link-color;
}
