@import 'antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root >div{
height: 100%;
width: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header-container {
  width: 1140px;
  height: 64px;
  margin: 0 auto;
  display: flex;
}

.logo {
  width: 100px;
  height: 64px;
  padding-left: 9px;
  margin-right: 60px;
}

.logo img {
  width: 120px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.textcolor:hover {
  color: deeppink;
}

.nav span:hover {
  color: deeppink;
}

.style span:hover {
  color: deeppink;
}

.nav span {
  display: inline-block;
  line-height: 64px;
  padding: 0 12px;
}

.style {
  display: flex;
  align-items: center;
}

.style span svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav .active {
  color: deeppink;
}

.style > span {
  display: inline-block;
  margin-right: 24px;
  margin-top: 5.5px;
}
.style span:nth-of-type(2) {
  display: inline-block;
  padding-top: 5px;
}
.container {
  width: 100%;
  height: 100%;
}
::-moz-selection {
  background: #ff0064;
  color: #ffffff;
}
::selection {
  background: #ff0064;
  color: #ffffff;
}
code::-moz-selection {
  background: #ff0064;
  color: #ffffff;
}
code::selection {
  background: #ff0064;
  color: #ffffff;
}
.header-right .nav span a:hover {
  color: deeppink;
}

.provider {
  width: 288px;
  height: 115px;
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.provider p a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.provider p:nth-of-type(2),
p:nth-of-type(3) {
  font-size: 14px;
}
.provider p a .anticon-wifi {
  font-size: 25px;
}
.provider p a .anticon-wifi:hover {
  color: deeppink;
}
.provider p a .anticon-github {
  font-size: 25px;
}
.provider p a .anticon-github:hover {
  color: deeppink;
}
.provider p {
  margin-top: 5px;
}
.ant-modal-content {
  width: 400px;
  height: 500px;
}
.ant-modal-footer {
  margin-top: -25px;
}
.ant-modal-body img {
  width: 100%;
  height: 200px;
  margin-top: -15px;
  margin-bottom: 5px;
}
